###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
def join_tuples(tuples):
  groups={}
  result=[]
  for tup in tuples:
    key=tup[0]
    if key in groups:
      groups[key]+=tup[1:]
    else:
      groups[key]=list(tup[1:])
  for key,values in groups.items():
    result.append((key,)+tuple(values))
  return result
test_list=[(5,6),(5,7),(5,8),(6,10),(7,13)]
output=join_tuples(test_list)
print(output)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [ ]:
def multiply_adjacent_elements(numbers):
  result=[numbers[0]*numbers[1]]
  for i in range(1,len(numbers)-1):
    result.append(numbers[i]*numbers[i-1] + numbers[i]*numbers[i+1])
  result.append(numbers[-1]*numbers[-2])
  return tuple(result)
original_tuple=(1,5,7,8,10)
result_tuple=multiply_adjacent_elements(original_tuple)
print(result_tuple)

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [ ]:
def check_tuples_same(t1,t2):
  if len(t1)!=len(t2):
    return False
  for i in range(len(t1)):
    if t1[i]!=t2[i]:
      return False
  return True
t1=(1,2,3,0)
t2=(1,2,3,0)
result=check_tuples_same(t1,t2)
print(result)

True

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [ ]:
def count_elements(list1):
  count_tuples=0
  count_lists=0
  count_sets=0
  for element in list1:
    if isinstance(element,tuple):
      count_tuples+=1
    elif isinstance(element,list):
      count_lists+=1
    elif isinstance(element,set):
      count_sets+=1
  return f"List -{count_lists}\n set -{count_sets} \n Tuples-{count_tuples}"
list1 = [{'hi', 'bye'}, {'Geeks', 'forGeeks'}, ('a', 'b'), ['hi', 'bye'], ['a', 'b']]

output = count_elements(list1)
print(output)

List -2
 set -2
 Tuples-1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [ ]:
def shortlist_students():
  students=[]
  num=int(input("Enter the number of applicants "))
  for i in range(num):
    print("Enter details of ",i+1,"applicant :")
    name=input("Enter name :")
    h_ed=input("Enter higher education :")
    p_skil=input("Enter skil :")
    yog=input("Enter year of graduation :")
    students.append((name,h_ed,p_skil,yog))
    req_skil=input("Enter required skil :")
    req_hed=input("Enter required higher education")
    req_yog=input('Enter required year of graduation: ')
    flag=False
    for student in students:
      if (student[1]==req_hed
      and student[2]==req_skil
          and student[3]==req_yog
          ):
        print(student)
        flag=True
    if not flag:
      print("no such candidate")
shortlist_students()

Enter the number of applicants 2
Enter details of  1 applicant :
Enter name : Manohar
Enter higher education :B.Tech
Enter skil :Python
Enter year of graduation :2022
Enter required skil :Python
Enter required higher educationB.Tech
Enter required year of graduation: 2022
(' Manohar', 'B.Tech', 'Python', '2022')
Enter details of  2 applicant :
Enter name :Ponian
Enter higher education :B.Sc.
Enter skil :C++
Enter year of graduation : 2022
Enter required skil :C++
Enter required higher education 2022
Enter required year of graduation: 2022
no such candidate

#`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [ ]:
def find_common(arr1,arr2,arr3):
  set1=set(arr1)
  set2=set(arr2)
  set3=set(arr3)
  common_elements=set1.intersection(set2,set3)
  return list(common_elements)
arr1=[1, 5, 10, 20, 40, 80]
arr2=[6, 7, 20, 80, 100]
arr3=[3, 4, 15, 20, 30, 70, 80, 120]
common_elements=find_common(arr1,arr2,arr3)
print(common_elements)

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [ ]:
def count_unique_vowels(string):
  vowels={'a','e','i','o','u','A','E','I','O','U'}
  unique_vowels=set()
  for char in string:
    if char in vowels:
      unique_vowels.add(char)
  return len(unique_vowels)
str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
unique_vowels_count=count_unique_vowels(str1)
print("No of unique vowels - ",unique_vowels_count)

No of unique vowels -  6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [ ]:
def is_binary_string(string):
  unique_characters=set(string)
  if len(unique_characters)==2:
    return "yes"
  else:
    return "no"
str1=input("Enter a string ")
result=is_binary_string(str1)
print(result)

Enter a string 1222211
yes

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [ ]:
def find_union(arrays):
  union_set=set()
  for array in arrays:
    union_set.update(array)
  union_list=list(union_set)
  return union_list
arrays = [[1, 2, 2, 4, 3, 6],
          [5, 1, 3, 4],
          [9, 5, 7, 1],
          [2, 4, 1, 3]]
union=find_union(arrays)
print(union)

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:

lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}


[item for item in lst1 if item in lst2]

[4, 5, 9, 10]

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [5]:
def find_key_with_max_unique_values(test_dict):
  max_key=None
  max_unique_values=0
  for key,value in test_dict.items():
    unique_values=len(set(value))
    if unique_values>max_unique_values:
      max_unique_values=unique_values
      max_key=key
  return max_key

test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
result=find_key_with_max_unique_values(test_dict)
print(result)

test_dict = {"CampusX": [5, 7, 9, 4, 0], "is": [6, 7, 4, 3, 3], "Best": [9, 9, 6, 5, 5]}
result = find_key_with_max_unique_values(test_dict)
print(result)

Best
CampusX

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [8]:
def replace_words(test_str,repl_dict):
  words=test_str.split()
  replaced_words=[]
  for word in words:
    if word in repl_dict:
      replaced_words.append(repl_dict[word])
    else:
      replaced_words.append(word)
  replaced_str=' '.join(replaced_words)
  return replaced_str

test_str = 'CampusX best for DS students.'
repl_dict = {"best": "is the best channel", "DS": "Data-Science"}
result = replace_words(test_str, repl_dict)
print(result)

CampusX is the best channel for Data-Science students.

In [9]:
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
result= replace_words(test_str, repl_dict)
print(result)

CampusX best for DS students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [13]:
def convert_list_to_dicts(test_list,key_list):
  return[{key:value for key,value in zip(key_list,test_list[i:i+len(key_list)])}
         for i in range(0,len(test_list),len(key_list)
  )]
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
result = convert_list_to_dicts(test_list, key_list)
print(result)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [18]:
def convert_tuples_to_dict(tuple_list):
  result={}
  for key,value in tuple_list:
    if key in result:
      result[key].append(value)
    else:
      result[key]=[value]
  return result
tuple_list = [('A', 1), ('B', 2), ('C', 3)]
result = convert_tuples_to_dict(tuple_list)
print(result)

{'A': [1], 'B': [2], 'C': [3]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [21]:
def sort_dict_keys_and_values(dictionary):
  sorted_dict={}
  for key,value in sorted(dictionary.items()):
    sorted_dict[key]=sorted(value)
  return sorted_dict
dictionary = {'c': [10, 34, 3]}
result = sort_dict_keys_and_values(dictionary)
print(result)

{'c': [3, 10, 34]}