### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def get_unique_elements(input_list):
  return list(set(input_list))
input_list = [1, 2, 3, 3, 3, 3, 4, 5]
result = get_unique_elements(input_list)
print(result)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
def sort_hyphen_separated_sequence(sequence):
  words=sequence.split("-")
  sorted_words=sorted(words)
  sorted_sequence="-" .join(sorted_words)
  return sorted_sequence
sequence = "green-red-yellow-black-white"
result = sort_hyphen_separated_sequence(sequence)
print(result)

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
def count_uppercase_lowercase(string):
  uppercase_count=0
  lowercase_count=0
  for char in string:
    if char.isupper():
      uppercase_count+=1
    elif char.islower():
      lowercase_count+=1
  return uppercase_count,lowercase_count
string = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
uppercase_count, lowercase_count = count_uppercase_lowercase(string)
print("No. of Upper case characters:", uppercase_count)
print("No. of Lower case characters:", lowercase_count)

No. of Upper case characters: 9
No. of Lower case characters: 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
def print_even_numbers(lst):
  even_numbers=[num for num in lst if num%2==0]
  print(even_numbers)
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print_even_numbers(lst)

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
def is_perfect_number(num):
  divisors=[]
  for i in range(1,num):
    if num%i==0:
      divisors.append(i)
  if sum(divisors)==num:
    return True
  else:
    return False
num=28
result=is_perfect_number(num)
print(result)

True

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
def concatenate_dictionaries(*dicts):
  result={}
  for dictionary in dicts:
    result.update(dictionary)
  return result
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}
result = concatenate_dictionaries(dic1, dic2, dic3)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
def find_most_common_word(input_string):
  word_count={}
  words=input_string.split()
  for word in words:
    if word in word_count:
      word_count[word]+=1
    else:
      word_count[word]=1
  max_count=0
  most_common_word=None
  for word,count in word_count.items():
    if count>max_count:
      max_count=count
      most_common_word=word
  return most_common_word + "->" +str(max_count)
input_string = "hello how are you i am fine thank you"
result = find_most_common_word(input_string)
print(result)

you->2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here
import math

def histogram(L):

  min_bin = math.floor(min(L)/10)*10
  max_bin = math.ceil(max(L)/10)*10

  d={}

  for i in range(min_bin,max_bin,10):
    count = 0
    for j in L:
      if i+1<=j<=i+10:
        count+=1

    d[str(i+1) + '-' + str(i+10)] = count

  return d

histogram([13,42,15,37,22,39,41,50])

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [2]:
import math
def find_nearest_coordinate(coordinates,query_point):
  closest_coordinate=None
  min_distance=float('inf')
  for coordinate in coordinates:
    distance=math.sqrt((coordinate[0]-query_point[0])**2+(coordinate[1]-query_point[1])**2)
    if distance<min_distance:
      min_distance=distance
      closest_coordinate=coordinate
  return closest_coordinate
coordinates = [(1, 1), (2, 2), (3, 3), (4, 4)]
query_point = (0, 0)
nearest_coordinate = find_nearest_coordinate(coordinates, query_point)
print("Nearest to", query_point, "is", nearest_coordinate)

Nearest to (0, 0) is (1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [36]:
def bow(L):
  vocab=set()
  for i in L:
    vocab.update(i.split())
  result=[]
  for i in L:
    result.append([])
    for j in vocab:
      result[-1].append(i.count(j))
  print(vocab)
  return result

L = [
    'cat mat rat cat',
     'sat bat fat cat rat',
     'pat cat mat rat'
]

bow(L)

{'bat', 'sat', 'fat', 'pat', 'mat', 'rat', 'cat'}

[[0, 0, 0, 0, 1, 1, 2], [1, 1, 1, 0, 0, 1, 1], [0, 0, 0, 1, 1, 1, 1]]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [9]:
L1 = [1,2,3]
L2 = [4,5,6]
L3 = [7,8,9]

In [10]:
list(map(lambda x,y,z:x+y+z,L1,L2,L3))

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [13]:
list1=[1,2,3,4,5,6]
power_func=lambda base,exponent:base**exponent
result=list(map(power_func,list1,range(len(list1))))
print(result)

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [16]:
str1="FIFA world cup in 2022 will take place in Qatar"

In [17]:
list(filter(lambda x:True if x.lower() in 'aeiou' else False,str1))

['I', 'A', 'o', 'u', 'i', 'i', 'a', 'e', 'a', 'e', 'i', 'a', 'a']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [21]:
ini_list = [[1, 2, 3],
            [3, 6, 7],
            [7, 5, 4]]

In [22]:
import functools
functools.reduce(lambda x,y:x+y,ini_list)

[1, 2, 3, 3, 6, 7, 7, 5, 4]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [27]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [33]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']